.cover {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #35d07f 0%,
    #2aa666 47.7%,
    #207d4c 92.3%
  );
  border-radius: 0.5em;
}
.vh-80 {
  height: 80vh !important;
}

.my-background-image {
  background-image: url("./assets/img/flight-2.png");
  background-repeat: no-repeat; /* Control image repetition */
  background-size: cover; /* Adjust image size */
  height: 400px; /* Optional: Set component height */
  width: 600px; /* Optional: Set component width */
}
